.App {
  text-align: center;
  /* min-height: 100vh; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #282c34;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  padding: 8px 15px;
  border: 1px solid #ddd;
  background-color: #282c34;
  color: white;
}

button:focus, button:hover {
  color: red
}

input {
  padding: 8px 15px;
  border: 1px solid #ddd;
  background-color: #282c34;
  color: white;
}


.todoSection {
  display: flex;
  text-align: left;
  justify-content: space-between;
  align-items: center;
  border: 2px solid black;
  border-radius: 3px;;
  max-width: 20.5rem;
  margin: .5rem auto;
  line-height: 97%;
}

.todoElement {
  display: flex;
}

.todoSection input, .todoSection button {
  padding: 3px 10px;
  margin: 0 10px;
  font-size: medium;
  border-radius: 3px;
  border: 1px solid #282c34;
}